ack-fixed-element-stage

route-reporter(#router="RouteReporter" "(onChange)"="onRouteChange($event)")

table.height-full.width-full.bg-fade(
  cellPadding="0" cellSpacing="0" border="0"
)
  tbody
    tr
      td
        //- height maintainer for pos-fixed
        .invisible
          ng-container(*ngTemplateOutlet="headerPrepend")
        
        ng-container(#routeData="var" "[var]"="ActivatedRoute.firstChild?.routeConfig?.data")

        //-title bar
        .top-0.pos-fixed.bg-positive.text-white.width-full.border-bottom.border-grey-2x(
          *ngIf="routeData.var?.titleBar==null || routeData.var?.titleBar"
          "[@slideInDown]" = "1"
          "[@slideOutUp]" = "1"
          style="z-index:2"
          "[ngClass]" = "routeData.var?.titleClass || 'bg-positive'"
        )
          ng-container(*ngTemplateOutlet="headerPrepend")

          .flex-valign-center.pad-right.pad-left.height-50
            a.pos-abs(
              *ngIf="showBack"
              "[routerLink]"="RouteHistory.back || '../'"
            )
              i.fas.fa-chevron-left.fa-lg.text-white
            .flex-1.text-center.pad-h-3x.text-3x.text-overflow
              i("[ngClass]"="router.activated?.routeConfig?.data?.icon")
              |&nbsp;{{ router.activated?.routeConfig?.data?.title }}
            ng-container(*ngTemplateOutlet="headerAppend")

        .height-50
    fx-tracker(
      #fx = "FxTracker"
      "[activatedRoute]" = "fx.loaded && outlet.activated ? outlet.activatedRoute : null"
    )
    tr
      td.height-full.pos-rel.height-full-router-wrap(
        valign = "top"
        "[ngClass]" = "{'overflow-hidden pos-abs-kids':fx.inFx}"
        "[@slideInOutLeftKids]"    = "{value:fx.id,params:{time:'250ms'}}"
        "(@slideInOutLeftKids.start)" = "fx.inFx=true"
        "(@slideInOutLeftKids.done)"  = "fx.delayOutFx()"
      )
        router-outlet(#outlet="outlet")

    tr
      td(*ngIf="debug")
        debug-area
          ng-container(*ngIf = "debugs")
            debug-item(
              *ngFor="let item of debugs | keyvalue"
              name = "item.key"
              "[value]" = "item.value"
            )
          debug-item(
            name = "routeHistory"
            "[value]" = "RouteHistory.routeHistory"
          )
